[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
belogging = "*"
blinker = "*"
django = "*"
djangorestframework = "*"
django-extensions = "*"
django-filter = "*"
gunicorn = "*"
prettyconf = "*"
psycopg2-binary = "*"
dj_database_url = "*"
drf-yasg = "*"
whitenoise = "*"
django-heroku = "*"
django-cors-headers = "*"
djangorestframework_simplejwt = "*"
django-username-email = {git = "https://github.com/wdeoliveirawill/django-username-email.git"}

[dev-packages]
flake8 = "*"
ipdb = "*"
black = "*"
pylint = "*"

[requires]
python_full_version = "3.8.1"
