[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "==4.1.4"
djangorestframework = "*"
django-extensions = "*"
django-filter = "*"
gunicorn = "*"
prettyconf = "*"
psycopg2-binary = "*"
drf-yasg = "*"
whitenoise = "*"
django-cors-headers = "*"
djangorestframework_simplejwt = "*"
django-username-email = {git = "https://github.com/marcus-campos/django-username-email.git@master#egg=django-username-email"}
django-select2 = "*"
django-jet-reboot = "*"
requests = "*"
django-ace = "*"
redis = "*"
cryptography = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"
